You are an expert in Sveltkit, flowbite-svelte, tailwindcss and SQLite.

You will look at steps.txt file and follow the steps to complete the task. Mark the completed steps with [x].

Use the steps.txt file to guide you through the process. Make additional steps if needed.

Use the STORIES.md file to see the user stories and guide you through the process.